body {
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    min-width: 414px;
}

/* css for header and nav */

header {
    padding: 1rem;
}

.main-logo {
    align-items: center;
}

.navigation {
    text-align: center;
    padding-bottom: 5px;
}

nav ul a {
    font-size: 1.2em;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

nav ul li {
    padding: 10px;
    list-style: none;
}

.nav-buttons:hover {
    color: #FA4A0C;
    background-color: transparent;
}

.nav-buttons {
    text-decoration: none;
}

/* css for main logo */

.logo {
    width: 205px;
    height: 100px;
    top: 50px;
}

.logo {
    display: block;
}

.logo-2 {
    display: none;
}

/* css for mobile contact page */

form {
    display: block;
}

input,
textarea {
    width: 450px;
}

textarea {
    width: 450px;
    height: 100px;
    margin: 0.5rem 0 0.5rem;
    resize: none;
}

.message-us {
    padding: 15px;
    margin: 10px;
}

.location {
    padding: 15px;
    margin: 10px;
}

/* text styles for mobile contact page */

.h1-contact {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    line-height: 57px;
    color: #FA4A0C;
    font-family: "Montserrat", sans-serif;
}

.heading {
    font-size: 24px;
    font-weight: 500;
    line-height: 38px;
    font-family: "Montserrat", sans-serif;
}

.labels {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    font-family: "Montserrat", sans-serif;
}

.send-button {
    border: 0;
    background-color: #FA4A0C;
    color: #ffffff;
    padding: 10px 15px;
}

/* css for embedded map */

iframe {
    width: 450px;
    height: 300px;
}

/* css for footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}

.copyright-text {
    font-size: 14px;
    font-weight: 700;
    color: #5C5C5C;
    line-height: 18px;
    font-family: 'Roboto', sans-serif;
}

@media screen and (min-width: 760px) {

    body {
        margin: 0 auto;
        font-family: "Poppins", sans-serif;
    }

    /* css for header and nav */

    header {
        padding: 1rem;
    }

    .navigation {
        display: block;
    }

    .logo {
        width: auto;
        height: 80px;
        align-items: center;
        margin: 20px 20px 0 20px;
    }

    /* Applies the animation to the image */

.logo {
    animation: bounceAnimation 2s ease-in-out infinite;
  }
  
   /* Defines the animation */
   
  @keyframes bounceAnimation {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
  }

    nav ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 70px;
        gap: 77px;
        position: absolute;
        right: 0px;
        top: 30px;
    }

    nav ul li {
        display: inline-flex;
    }

    .nav-buttons {
        text-decoration: none;
        color: black;
    }

    .contact-us {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-row: 1;
        padding-left: 5rem;
        padding-right: 5rem;
        grid-gap: 3em;
    }

    input,
    textarea {
        width: 100%;
    }

    textarea {
        width: 100%px;
        height: 300px;
        margin: 0.5rem 0 0.5rem;
        resize: none;
    }

    /* text styles for contact page */

    .h1-contact {
        font-size: 40px;
        font-weight: 700;
        line-height: 57px;
        font-family: "Montserrat", sans-serif;
        color: #FA4A0C;
    }

    .heading {
        font-size: 24px;
        font-weight: 500;
        line-height: 38px;
        font-family: "Montserrat", sans-serif;
        color: #252B42;
    }

    .labels {
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        font-family: "Montserrat", sans-serif;
    }

    .h1-contact {
        grid-column: 1 / span 6;
        grid-row: 1;
        font-size: 2.75em;
        font-weight: 800;
        margin: 1.25em 0 0.75em 0;
    }

    .message-us {
        grid-column: 1 / span 3;
        grid-row: 2;
    }

    .location {
        grid-column: 4 / span 3;
        grid-row: 2;
    }

    iframe {
        width: 100%;
        height: 450px;
    }

    /* css for footer */

    .logo-2 {
        width: 150px;
        height: auto;
        display: block;
        align-content: center;
        margin: 20px;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .social-media-icons {
        margin-right: 10px;
        align-items: center;
    }

    .twitter {
        padding: 0 15px 0 0;
    }

    .instagram {
        padding: 0 0 0 20px;
    }

    .copyright-text {
        font-size: 14px;
        font-weight: 700;
        color: #5C5C5C;
        line-height: 18px;
        font-family: 'Roboto', sans-serif;
        padding-right: 50px;
    }

}